body {
    color: white;
    background: rgb(33, 22, 180);
}

span {
    font-size: 24px;
}

#camera,
#result {
    border: 2px dotted black;
    width: 350px;
    height: 300px;
}

#result_gesture_name,
#result_gesture_name2 {
    color: black;
}

.gesture_name {
    font-size: 40px;
}

.gesture {
    font-size: 48px
}

.heading {
    font-size: 24px;
}

label {
    font-size: 14px;
    color: green;
    padding: 6px;
    border-radius: 10px;
    background-color: white;
}